/* Style: Brown */

a, .post-meta a:link, .post-meta a:visited, .post-more a:link, .post-more a:visited, .post p.tags a:link, .post p.tags a:visited { color: #654c2c; }
a:hover, .post-meta a:hover, .post-more a:hover, .post p.tags a:hover, #portfolio #port-tags .port-cat a:hover, #portfolio #port-tags .port-cat a.current { color: #3c2b14; }

#wrapper { background-image: url(brown/wrapper-bg-colourstrip.png); }
#header  { background-image: url(brown/bg-ripple-header.png); }
#featured-slider  { background: #ccc url(brown/bg-featured.png) repeat top left; }
#mini-features  { background: url(brown/bg-minifeatures.png) repeat top left; }
#footer  { background: url(brown/bg-ripple-footer.png) repeat top left; }

.nav a:hover, 
.nav li.current_page_item a, 
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.current-menu-item a,
.nav li.sfHover  { background: #402b21; color: #fff; }
.nav li ul  { background: #402b21; }
#navigation .nav li ul li a { border-top:1px solid #5f4235; border-bottom:1px solid #342017; }

.post-meta a:link, .post-meta a:visited, .post-more a:link, .post-more a:visited, .post p.tags a:link, .post p.tags a:visited { color: #654c2c; }

#wrapper #comments .comment-head .name  { color: #654c2c; }

#wrapper #comments .reply a { color: #654c2c; }

/* Buttons */
a.button, 
#commentform #submit,
.submit {
	border: 1px solid #3c2b14;
	border-bottom-color: #291c0c;
	
	/*Background*/
	background: #654c2c; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #654c2c),
					color-stop(1, #3c2b14)
				);
	background: -moz-linear-gradient(
					center top,
					#654c2c 20%,
					#3c2b14 100%
				);
}

a.button:hover, 
a.button.hover, 
a.button.active,
#commentform #submit:hover,
.submit:hover {
	/*Background*/
	background: #4a3419; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #4a3419),
					color-stop(1, #1f1508)
				);
	background: -moz-linear-gradient(
					center top,
					#4a3419 20%,
					#1f1508 100%
				);
}